@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;'
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

