@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Lato&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
  --separator-border-color: rgba(200, 200, 200, 0.1);
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: var(--primary-color);
  border-right: 2px solid var(--separator-border-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}
nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
h1 {
  font-family: "Comic Neue", cursive;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid var(--separator-border-color);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid var(--separator-border-color);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
.toggle {
  border-radius: 10px;
  padding: 5px;
}

.container {
  margin: auto;
}
.modal {
  color: var(--primary-color);
}
.modal-container {
  padding: 10px;
}
.toggle,
.close-btn {
  background-color: var(--primary-color);
  font-size: 14px;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.modal-header {
  background-color: var(--primary-color);
  font-family: "Comic Neue", cursive;
  color: white;
}
.modal-content {
  text-decoration: double;
}
.modal-form {
  border: 1px solid #888;
  text-align: center;
}
.cta-btn,
.submit-btn {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
}
